@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

@font-face {
    src: url(../tools/fonts/SpringwoodBrushDemoRegular-GpWP.otf);
    font-family: bk;
}

@font-face {
	src: url(../tools/fonts/AquireBold-8Ma60.otf);
	font-family: aq;
}

 


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

body {
	background-color: #161616;
}
::-webkit-scrollbar{
	width: 12px;
}
::-webkit-scrollbar-thumb{
	background: linear-gradient(to bottom,transparent,#fd1d1d,#833ab4);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
	background: linear-gradient(to bottom,transparent,#833ab4,#fd1d1d);
	border-radius: 5px;
}
.container {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Nav Bar  */
#nav-bar {
	height: auto;
	width: 100%;
	position: fixed;
	z-index: 100;
	background-color: #161616;
	opacity: .8;
	position: relative;
}
.nav-bar {
	background-color: #161616;
	left: 0;
	top: 0;
	padding: 1rem 5rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-bar .brand a {
	font-family: 'Flash Back - Demo', sans-serif;
	font-size: 3rem;
	color: white;
}
.nav-bar .nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-bar .nav-list .hamburger {
	border: 2px solid #9032F8;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 70px;
	transition: .3s ease transform;
	cursor: pointer;
}
.nav-bar .nav-list .hamburger.active {
	transform: rotate(360deg);
}
.nav-bar .nav-list .hamburger.active .bar:before {
	top: 0;
	transform: rotate(45deg);
}
.nav-bar .nav-list .hamburger.active .bar:after {
	top: 0;
	transform: rotate(-45deg);
}
.nav-bar .nav-list .hamburger.active .bar {
	background-color: transparent;
}
.nav-bar .nav-list .hamburger .bar {
	height: 2px;
	width: 30px;
	background-color: #FD4F66;
	position: relative;
	display: flex;
}
.nav-bar .nav-list .hamburger .bar::before,
.nav-bar .nav-list .hamburger .bar::after {
	content: '';
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	background-color:#FD4F66;
	transition: .3s ease all;
}
.nav-bar .nav-list .hamburger .bar::before {
	top: 8px;
}
.nav-bar .nav-list .hamburger .bar::after {
	bottom: 8px;
}
.nav-bar .nav-list ul {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgb(46, 45, 45);
	padding: 5rem 0;
	transform: translateY(-100%);
	transition: .3s ease transform;
	text-align: center;
	z-index: -1;
}
.nav-bar .nav-list ul li {
	list-style: none;
	display: block;
	position: relative;
	left: 30px;
}
.nav-bar .nav-list ul li:hover:after {
	transform: translateX(-50%) scale(1);
}
.nav-bar .nav-list ul li:after {
	content: '';
	position: absolute;
	width: 5rem;
	height: .2rem;
	background-color:#FD4F66;
	left: 50%;
	transform: translateX(-50%) scale(0);
	bottom: 0;
	transition: .3s ease transform;
}
.nav-bar .nav-list ul li a {
	font-size: 3.9rem;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	display: block;
	letter-spacing: .15rem;
	padding: 2rem 3rem;
}
.nav-bar .nav-list.open ul {
	transform: translateY(90px);
}

.pages{
	font-family: bk;
	cursor: pointer;
}


/* End Nav Bar */




/*main player code starts from here.....*/


/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/
/*-------------------------------------------------------------------*/

/* wraper side */

.wrapper{
	width: 97%;
	margin: 0 auto;
	margin-top: 27px;
}

.upper-box{
	display: flex;
	justify-content: space-around;
	/* flex-wrap: wrap; */

}

.upper-box > .upper-mid{
	flex: 2;
}

.upper-lft{
	background-color: #EE303B;
	height: 79.4px;
	border-radius: 10px;
	display: flex;
	justify-content: flex-end;
	margin-right: 0.9px;
	
}


.up-lft-img{
	height: 120px;
	width: 76.5px;
	margin-right: auto;
	margin-top: -35px;
}


.iconp{
	height:80px;
	width:80px;
	transition: transform .5s;
	margin-left: 40px;
}

.iconp:hover{
	transform: scale(1.085);
}

.upper-lft h5{	
	font-size: 45px;
	color:white;
	font-weight: 200;
	font-family: 'Nerko One', cursive;
	cursor: default;
	margin-left: 40px;
	margin-right: 50px;
	margin-top: 12px;
}

.upper-mid{
	/* width: 496px; */
	background-image:url(../tools/images/16138394052988635.jpg);
	border:5px solid #663399 ;
	border-radius: 10px;
}

.upper-mid h3{
	font-size: 45px;
	letter-spacing: 5px;
	font-family: aq;
	color:#8000ff;
	text-align:center;
	margin-top: 16px;
	padding: 0 10px;

}

.upper-rgt{
	background-color: #EE303B;
	height: 79px;
	/* width: 400px; */
	border-radius: 10px;
	display: flex;
	justify-content: flex-start;
	margin-left: 1.3px;
}

.upper-rgt h5{
	display: inline-block;
	font-size: 45px;
	color:white;
	font-weight: 200;
	font-family: 'Nerko One', cursive;
	cursor: default;
	margin-right: 40px;
	margin-left: 50px;
	margin-top: 12px;
}

.iconn{
	height:80px;
	width:80px;
	transition: transform .5s;
	margin-right: 40px;
}

.iconn:hover{
	transform: scale(1.085);
}

.up-rgt-img{
	height: 111.23px;
	width: 96.53px;
	margin-left: auto;
	margin-top: -31px;
}

.mbl-upper-box{
	display: none;
}

.anime-list{
	margin-top: 100px;
	margin: 0 auto;
	background-color: #303030;
	padding: 20px 8px;
	border-radius: 10px 10px 0px 0px;
}

.flex-anime-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	border:2px solid #ababab;
	border-radius: 10px;
	
}

.anime-list li{
	margin:52px 38px;
	transition: transform .16s;
	list-style-type: none;
}

.anime-list li:hover{
	transform: scale(1.1);
}

.anime-list img{
	width:175px;
	height: 240px;
	margin-top:0px;
	border-radius: 6px;
}

.anime-list a {
	text-decoration: none;
}

.anime-list h5{
	font-size: 23px;
	font-weight: 50;
	font-family: 'Nerko One', cursive;
	width: 174px;
	text-align: center;
	background-color: #833ab4;
	color: white;
	border-radius: 6px 6px 0 0;

}

.anime-list h5:hover{
	background-color: #FD4F66;
}

.anime-list h6{
	font-family: 'Nerko One', cursive;
	font-size: 20px;
	font-weight: 60;
	/* margin-left: 34px; */
	text-align: center;
    width: 174px;
	background-color: #833ab4;
	color: white;
	border-radius: 0 0 6px 6px;

}


/* 
.dwnbar h5{
	text-decoration: none;
	color: white;
	font-size: 18px;
} */

.dwnbar{
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
	background-color: #303030;
	border-radius: 0px 0px 5px 5px;
	padding-bottom: 15px;
}

.dwnbar a{
	text-decoration: none;
	color: white;
}

.dwnbar1 h5{
	width: 90px;
	text-align: center;
	background-color: #EE303B;
	border-radius: 5px;
	transition: transform .1s;
	font-size: 18px;
	margin-right: 5px;
}
.dwnbar1 h5:hover{
	background-color: #833ab4;
	transform: scale(1.085);
}

.dwnbar2 h5{
	width: 90px;
	text-align: center;
	background-color: #833ab4;
	border-radius: 5px;
	transition: transform .1s;
	font-size: 18px;
	margin-left: 5px;
}
.dwnbar2 h5:hover{
	background-color:#EE303B;
	transform: scale(1.085);
}




/* .fa-forward{
	color: white;
	font-size: 18px;
	padding: 3px;
}
.fa-backward{
	color: white;
	font-size: 18px;
	padding: 3px;
} */



/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/
/*-----------------------------------------------------------------------*/


/* Hire Section  */
.hire {
	min-height: 10vh;
	flex-direction: column;
	width: 100%;
	background-image: url(../tools/images/4706201.jpg);
	background-size: cover;
	padding: 3rem 2rem;
	margin-top:15px;
	margin-bottom:0;
	border-radius: 10px 10px 0px 0px;
}


.hire .hire-heading {
	color: white;
	font-size: 3.4rem;
	font-weight: 200;
	font-family: 'Nerko One', cursive;
	padding: 5px;
	border-radius: 10px;
	background-image: linear-gradient(45deg,#9032F8,#FD4F66);
}
.hire .hire-button {
	padding: 2rem 3rem;
	display: inline-block;
	background-color:#663399;
	border-radius: 5px;
	font-size: 1.6rem;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .2rem;
	margin-top: 10px;
	color: whitesmoke;
	transition: .3s ease background-color;
}
.hire .hire-button:hover {
	background-color:#EE303B;
}
/* End Hire Section  */






/*message section*/

.container-1 input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 16px
}

.container-1 input[type=submit] {
  background-color: #663399;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform .2s;
}

.container-1 input[type=submit]:hover {
  background-color: #EE303B;
  transform: scale(1.1);
}

.container-1 {
  background-image: url("https://drive.google.com/uc?id=1oa7vw-uQjK-NrCf3poSoWOuzL1QgBK4c");
  padding: 20px;
  width: 100%;
}
.container-1 h3{
	float: right;
	margin-top: 20px;
	color:#97DCE1;
	background-color: #663399;
	border-radius: 10px;
	padding: 5px;
}
.container-1 label{
  font-size: 16px;
  background-color: #663399;
  color:white;
  padding: 6px;
  border-radius: 8px;
}

/*message section*/

/* Footer section */
.button{
	display: block;
	height: 60px;
	width: 60px;
	overflow: hidden;
	background: #fff;
	border-radius: 50px;
	cursor: pointer;
	box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
	transition: all 0.3s ease-out;
	margin-left: 20px;
	margin-top: -24px;
  }
.button:hover{
	width: 200px;
  }
.button .icon{
	display: inline-block;
	height: 60px;
	width: 60px;
	text-align: center;
	border-radius: 50px;
	box-sizing: border-box;
	transition: all 0.3s ease-out;
  }
.button .icon a{
	text-decoration: none;
	color: #161616;
}
.button:nth-child(1):hover .icon{
	background: #1DA1F2;
  }
.button .icon i{
	font-size: 20px;
	line-height: 60px;
	transition: all 0.3s ease-out;
  }
.button:hover .icon i{
	color:#1DA1F2;
  }
.button span{
	font-size: 20px;
	font-weight: normal;
	transition: all 0.3s ease-out;
  }
.button a{
	text-decoration: none;
	color:#1DA1F2;
}
/* Own footer */
.own_footer {
	height: 85px;
	background-image:url(../tools/images/bg_footer1.jpg);
	background-size: cover;
	border-radius:0 0 10px 10px;
	position: relative;
}

.own_footer h3{
	font-size: 23px;
	color:lightgreen;
	font-weight: normal;
	text-align: center;
	position: relative;
	top: 10px;
}


.pages_three{
	margin-top: -40px;
}
.pages_three ul{
	list-style-type: none;
	width: 100%;
}
.pages_three li{
	font-size: 20px;
	padding-left: 50px;
	padding-top: 15px;

}
.pages_three li a{
	text-decoration:none;
	color: white;

}
.pages_three li a:hover{
	text-decoration: underline;
	text-decoration-color:#9032F8 ;
}

.flex-footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
/* End of Footer section */


































/* Media query for desktop and tab  */
@media only screen and (min-width: 816px) {



	.nav-bar .nav-list .hamburger {
		display: none;
	}
	.nav-bar {
		width: 80%;
	}
	.nav-bar .nav-list ul {
		transform: translateX(0);
		position: initial;
		padding: 0;
		z-index: initial;
		background-color: transparent;
	}
	.nav-bar .nav-list ul li {
		display: inline-block;
	}
	

}


/* Small Smart Phone */
@media (max-width:349px) and (min-width: 320px) {

	body{
		overflow-x: hidden;
	}


  .container img{
    margin-left: -18%;
    width: 227.71px;
    height: 72.57px;

  }
  .nav-bar .nav-list .hamburger {
		height: 60px;
		width: 60px;
		margin-left: -90%;

	}

	.nav-bar .nav-list ul li {
		position: relative;
		left: 5px;
	}

	.wrapper{
		width: 100%;
	}

	.upper-down .mbl-iconp{
		height:70px;
		width:70px;
		margin-right: 2vw;
	}

	.upper-down .mbl-iconn{
		height:70px;
		width:70px;
		margin-left: 2vw;
	}

	.anime-list li{
		margin: 20px 10px;
	}

	.anime-list li:hover{
		transform: scale(1.0);
	}

	.anime-list img{
		width: 120px;
		height: 170px;
	}

	.anime-list h5{
		width: 120px;
	}	

	.anime-list h6{
		width: 120px;
	}


	/* mbl footer */
	.button{
		margin-top: 25px;
		margin-left:10px;
	}

	.own_footer{
		width: 100%;
		height: 160px;
	}

	.own_footer h3{
		margin-left: -4%;
	}

	.flex-footer{
		flex-direction: column;
		margin-left: 200px;
		margin-top: -85px;
	}


	/* mbl footer */


}


/* SMARTPHONES PORTRAIT */
@media (max-width:479px) and (min-width: 350px){

	body{
		overflow-x: hidden;
	}

	.container img{
		margin-left: -15%;
	}
	.nav-bar .nav-list .hamburger {
		margin-left: -40px;
	}

	.nav-bar .nav-list ul li {
		position: relative;
		left: 5px;
	}

	.upper-down .mbl-iconp{
		margin-right: 4vw;
	}

	.upper-down .mbl-iconn{
		margin-left: 4vw;
	}

	.wrapper{
		width: 100%;
	}

	.flex-anime-list{
		width: 103.7%;
		margin-left: -8px;
		padding: 0 5px;
	}

	.anime-list li{
		margin: 8vw 5px;
	}

	.anime-list li:hover{
		transform: scale(1.0);
	}

	.anime-list img{
		width: 39.3vw;
		height: 55vw;
	}
	
	.anime-list h5{
		width: 39.3vw;
	}
	
	.anime-list h6{
		width: 39.3vw;
	}
	/* .anime-list img{
		width: 145px;
		height: 220px;
	}

	.anime-list h5{
		width: 145px;
	}	

	.anime-list h6{
		width: 145px;
	} */

	




	/* mbl footer */
	.button{
		margin-top: 25px;
		margin-left:10px;
	}

	.own_footer{
		width: 100%;
		height: 160px;
		border-radius:0 0 10px 10px;
	}

	.flex-footer{
		flex-direction: column;
		margin-left: 200px;
		margin-top: -90px;
	}

	/* mbl footer */



}


/* SMARTPHONES LANDSCAPE */

@media (max-width:767px) and (min-width:480px) {

	body{
		overflow-x: hidden;
	}

	.nav-bar {
		width: 100%;
	}

	.wrapper{
		width: 100%;
	}

	.flex-anime-list{
		width: 102.5%;
		margin-left: -7.5px;
		padding: 0 8px;
	}

	.anime-list li{
		margin: 30px 10px;
	}

	.anime-list li:hover{
		transform: scale(1.0);
	}

	.anime-list img{
		width: 160px;
		height: 240px;
	}

	.anime-list h5{
		width: 160px;
	}	

	.anime-list h6{
		width: 160px;
	}

	


	/* mbl footer */
	.button{
		margin-top: 25px;
		margin-left:10px;
	}

	.own_footer{
		width: 100%;
		height: 160px;
		border-radius:0 0 10px 10px;
	}

	.flex-footer{
		margin-top: -85px;
	}

	/* mbl footer */


}



/* TABLETS PORTRAIT */
@media (max-width: 1199px) and (min-width: 768px) {

	body{
		overflow-x: hidden;
	}

	.nav-bar {
		width: 100%;
	}
	
	.wrapper{
		width: 100%;
	}

	.flex-anime-list{
		padding: 0px 8px;
	}

	.anime-list li{
		margin: 30px 15px;
	}

	.anime-list li:hover{
		transform: scale(1.1);
	}

	.anime-list img{
		width: 170px;
		height: 260px;
	}

	.anime-list h5{
		width: 170px;
	}	

	.anime-list h6{
		width: 170px;
	}
	
	


	/* mbl footer */
	.button{
		margin-top: 25px;
		margin-left:10px;
	}

	.own_footer{
		width: 100%;
		height: 160px;
		border-radius:0 0 10px 10px;
	}

	.flex-footer{
		margin-top: -85px;
	}

	/* mbl footer */

}







@media only screen and (min-width: 768px) {
	#nav-bar{
		/*position: relative;*/
	}
	
}













/* End Media query for desktop and tab  */

/* Media Query For Desktop Only  */
@media only screen and (min-width: 1200px) {
	.hero .hero-info .hero-info-heading {
		font-size: 6rem;
	}
	.hero .hero-info .hero-info-subheading {
		letter-spacing: .8rem;
	}
 	 .slideshow-containermbl{
   		 display: none;
  }


 

}


@media only screen and (max-width: 954px) {

	.wrapper{
		margin-top: 0px;
	}

	.upper-box{
		display: none;
	  }

	.mbl-upper-box{
		display: block;
		margin-top: 0px;
	}

	.upper-mid{
		margin-bottom: 3px;
	}
	.upper-mid h3{
		margin-top: 10px;
	}

	.upper-down{
		display: flex;
		background-color: #EE303B;
		height: 79.4px;
		border-radius: 10px;
	}

	.mbl-iconp{
		height:80px;
		width:80px;
		transition: transform .5s;
		margin-right: 10vw;
	}
	
	.mbl-iconp:hover{
		transform: scale(1.085);
	}

	.mbl-iconn{
		height:80px;
		width:80px;
		transition: transform .5s;
		margin-left: 10vw;
	}
	
	.mbl-iconn:hover{
		transform: scale(1.085);
	}




}  